<!DOCTYPE html>
<html>
<head>
  <title>Character Explorer</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
</head>
<body>

<nav class="blue" role="navigation">
  <div class="nav-wrapper large-container">
    <a href="" id="logo-container" class="brand-logo">Character Explorer</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="container">
        {% if category == 'success' %}
          <div class="card light-green lighten-2">
        {% else %}
          <div class="card deep-orange lighten-2">
        {% endif %}
          <div class="card-content">
            <p>{{ message }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block body %}{% endblock %}

<script>
  M.AutoInit();
</script>

</body>
</html>
