{% extends 'base.html' %}

{% block body %}
<div class="container">
	<h3>Enter data</h3>

	<div class="row" id="app">
		<form action="{{ url_for('view') }}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input type="text" id="refresh_token" class="validate" name="refresh_token" v-model="refresh_token">
					<label for="refresh_token">Refresh token</label>
					<button class="btn blue waves-effect waves-light" :disabled="!refresh_token" type="submit" name="action">
						Submit
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	new Vue({
		el: '#app',
		data: { refresh_token: '' }
	})
</script>
{% endblock %}
